@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import "reset.scss";
@import "fonts";

:root{
  --grayd3-color: #D3D3D3;
  --grayac-color: #ACACAC;;
  --graybe-color:  #BEBEBE;
  --pink-color: #EC25A3;
  //--blue-color: #00A8CC;
  //--white-color: #FFFFFF;
  //--darck-color: #142850;
  //--grey-color: #8695A4;
  //--lgrey-color: #E0E0E0;
}

body{
color: white;
  background: black;
  font-family: 'Josefin Sans', sans-serif;
}
.container{
  width: 1649px;
  margin: 0 auto;
}
header{
  width: 1255px;
  display: flex;
  justify-content: space-between;
  margin: 70px auto 0;
  align-items: center;
  &header__center{
    color: var(--grayac-color);
    font-size: 18px;
    line-height: 23px;
  }
  &header__number{
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
  }
}
.details{
  display: flex;
  &details__content{
    width: 132px;
    margin: 120px 307px 65px 210px;
    &details__content-start{
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 130%;
    }
    &details__title-main{
      font-style: normal;
      font-weight: bold;
      font-size: 89px;
      line-height: 114px;
      color: var(--pink-color);
    }
  }
}