@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import "reset.scss";
@import "fonts";
@media(max-width: 2048px){

}
@media(max-width: 1920px){

}
@media (max-width: 1300px){
  .header{
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px auto 0;
    align-items: center;
    .header__center{
      color: var(--grayac-color);
      font-size: 18px;
      line-height: 23px;
    }
    .header__number{
      font-weight: 600;
      font-size: 23px;
      line-height: 30px;
    }
  }
  .details{
    display: flex;
    width: 93%;
    margin: 0 auto;
  }

  .details__content{
    width: 500px;
    margin: 100px 0 65px 30px;
    .details__content-start{
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 130%;
    }
    .details__title{
      max-width:500px ;
      height: 73px;

    .details__title-main{
      font-style: normal;
      font-weight: bold;
      font-size: 49px;
      line-height: 73px;
      color: var(--pink-color);
      z-index: 30;

    }
    .details__title-under{
      display: inline-block;
      font-size: 49px;
      line-height: 73px;
      opacity: 0.4;
      //margin: -200px 0 35 -6px;
      top:-67px;
      left: -6px;
      color: transparent;
      -webkit-text-stroke: 1px white;
      position: relative;
      z-index: -10;
    }}

    .details__content-text{
      width: auto;
      font-size: 24px;
      line-height: 120%;
      margin-bottom: 30px;
    }
    .details__link-main{
      font-weight: 600;
      font-size: 25px;
      line-height: 130%;
      padding: 27px 80px 31px 38px;
      display: inline-block;
      background: linear-gradient(245.78deg, #EC25A3 16.92%, #8D35F8 63.4%);
      border-radius: 5px;
      position: relative;
      cursor: pointer;
      z-index: 10;
      transition: all 0.5s;
      margin-bottom: 1px;
    }
    .details__link-main::after{
      content: '';
      width: 25px;
      height: 22px;
      //display: inline-block;
      background-image: url("../img/arrow.png");
      position: absolute;
      z-index: 5;
      left:295px;
      top: 35px;
    }
    .details__link-main:hover{
      background: linear-gradient(245.78deg, #d3128c 16.92%, #7409f6 63.4%);
    }
    .details__link-under{

      position: relative;
      width: 343px;
      height: 90px;
      margin: -82px 0 0 -8px;
      border-radius: 3px;
      background: #000;
      text-align: center;
      transition: all 0.5s;
    }

    .details__link-under::before{
      content: "";
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;

      background: linear-gradient(245.78deg, #EC25A3 16.92%, #8D35F8 63.4%);
      border-radius: 5px;
      z-index: -1;
    }
    .details__merits{
      max-width: 510px;
      //height: 150px;
      text-align: right;
      margin: 55px 0 0 210px;
      position: absolute;
    }
    .details__merits-title{
      font-size: 20px;
      line-height: 110%;
    }
    .details__merits-occupation{
      font-size: 16px;
      line-height: 130%;
      color: var(--graybe-color);
      margin-bottom: 10px;
    }
    .details__merits-about{
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      span{
        font-weight: 600;
        color: var(--pink-color);
      }
    }

  }
  .video{
    width: 673px;
    background-image: url("../img/man.png");
    background-repeat: no-repeat;
    .video__play{
      width: 150px;
      position: absolute;
      top:421px;
      left: 1101px;
      .video__play-start{
        width: 130px;
        padding-left: 5px;
        cursor: pointer;
      }
      .video__play-text{
        .video__play-link{
          font-size: 18px;
          line-height: 130%;
          text-align: center;
          text-decoration-line: underline;
          color: white;}
      }
    }

  }


}
:root{
  --grayd3-color: #D3D3D3;
  --grayac-color: #ACACAC;;
  --graybe-color:  #BEBEBE;
  --pink-color: #EC25A3;
  //--blue-color: #00A8CC;
  //--white-color: #FFFFFF;
  //--darck-color: #142850;
  //--grey-color: #8695A4;
  //--lgrey-color: #E0E0E0;
}
*{
  box-sizing: border-box;
}
body{
color: white;
  background: black;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: normal;

}
.container{
  width: 1649px;
  margin: 0 auto;
}
.header{
  width: 1255px;
  display: flex;
  justify-content: space-between;
  margin: 70px auto 0;
  align-items: center;
  .header__center{
    color: var(--grayac-color);
    font-size: 18px;
    line-height: 23px;
  }
  .header__number{
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
  }
}
.details{
  display: flex;
  width: 1649px;
  margin: 0 auto;
}
.details__content{
  width: 660px;
  margin: 135px 0 65px 210px;
  .details__content-start{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
  }
  .details__title {
    width: 670px;
    height: 114px;
    .details__title-main {
      font-style: normal;
      font-weight: bold;
      font-size: 89px;
      line-height: 114px;
      color: var(--pink-color);
      z-index: 30;

    }

    .details__title-under {
      display: inline-block;
      font-size: 89px;
      line-height: 114px;
      opacity: 0.4;
      //margin: -200px 0 35 -6px;
      top: -108px;
      left: -6px;
      color: transparent;
      -webkit-text-stroke: 1px white;
      position: relative;
      z-index: -10;
    }
  }
  .details__content-text{
    width: 600px;
    font-size: 30px;
    line-height: 130%;
    margin-bottom: 70px;
  }
  .details__link-main{
    font-weight: 600;
    font-size: 25px;
    line-height: 130%;
    padding: 27px 80px 31px 38px;
    display: inline-block;
    background: linear-gradient(245.78deg, #EC25A3 16.92%, #8D35F8 63.4%);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    z-index: 10;
    transition: all 0.5s;
    margin-bottom: 1px;
  }
  .details__link-main::after{
    content: '';
    width: 25px;
    height: 22px;
    //display: inline-block;
    background-image: url("../img/arrow.png");
    position: absolute;
    z-index: 5;
    left:295px;
    top: 35px;
  }
  .details__link-main:hover{
    background: linear-gradient(245.78deg, #d3128c 16.92%, #7409f6 63.4%);
  }
  .details__link-under{

    position: relative;
    width: 343px;
    height: 90px;
    margin: -82px 0 0 -8px;
    border-radius: 3px;
    background: #000;
    text-align: center;
    transition: all 0.5s;
  }

  .details__link-under::before{
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;

    background: linear-gradient(245.78deg, #EC25A3 16.92%, #8D35F8 63.4%);
    border-radius: 5px;
    z-index: -1;
  }
  .details__merits{
    width: 510px;
    //height: 150px;
    text-align: right;
    margin: 55px 0 0 210px;
    position: absolute;
  }
  .details__merits-title{
    font-size: 25px;
    line-height: 130%;
  }
  .details__merits-occupation{
    font-size: 16px;
    line-height: 130%;
    color: var(--graybe-color);
    margin-bottom: 14px;
  }
  .details__merits-about{
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    span{
      font-weight: 600;
      color: var(--pink-color);
    }
  }

}
.video{
   width: 703px;
  height: 994px;
   background-image: url("../img/man.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  padding: 0;
  .video__play{
    width: 150px;
    margin-top: 420px;
    .video__play-start{
      width: 130px;
      padding-left: 5px;
      cursor: pointer;
    }
    .video__play-text{
      .video__play-link{
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        text-decoration-line: underline;
        color: white;}
    }
  }

 }