@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;

0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

:root {
  --grayd3-color: #D3D3D3;
  --grayac-color: #ACACAC;
  --graybe-color: #BEBEBE;
  --pink-color: #EC25A3;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
  background: black;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.container {
  width: 1649px;
  margin: 0 auto;
}

.header {
  width: 1255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px auto 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__center {
  color: var(--grayac-color);
  font-size: 18px;
  line-height: 23px;
}

.header .header__number {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1649px;
  margin: 0 auto;
}

.details__content {
  width: 660px;
  margin: 135px 0 65px 210px;
}

.details__content .details__content-start {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 130%;
}

.details__content .details__title {
  width: 670px;
  height: 114px;
}

.details__content .details__title .details__title-main {
  font-style: normal;
  font-weight: bold;
  font-size: 89px;
  line-height: 114px;
  color: var(--pink-color);
  z-index: 30;
}

.details__content .details__title .details__title-under {
  display: inline-block;
  font-size: 89px;
  line-height: 114px;
  opacity: 0.4;
  top: -108px;
  left: -6px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  position: relative;
  z-index: -10;
}

.details__content .details__content-text {
  width: 600px;
  font-size: 30px;
  line-height: 130%;
  margin-bottom: 70px;
}

.details__content .details__link-main {
  font-weight: 600;
  font-size: 25px;
  line-height: 130%;
  padding: 27px 80px 31px 38px;
  display: inline-block;
  background: -o-linear-gradient(204.22deg, #EC25A3 16.92%, #8D35F8 63.4%);
  background: linear-gradient(245.78deg, #EC25A3 16.92%, #8D35F8 63.4%);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-bottom: 1px;
}

.details__content .details__link-main::after {
  content: '';
  width: 25px;
  height: 22px;
  background-image: url("../img/arrow.png");
  position: absolute;
  z-index: 5;
  left: 295px;
  top: 35px;
}

.details__content .details__link-main:hover {
  background: -o-linear-gradient(204.22deg, #d3128c 16.92%, #7409f6 63.4%);
  background: linear-gradient(245.78deg, #d3128c 16.92%, #7409f6 63.4%);
}

.details__content .details__link-under {
  position: relative;
  width: 343px;
  height: 90px;
  margin: -82px 0 0 -8px;
  border-radius: 3px;
  background: #000;
  text-align: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.details__content .details__link-under::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: -o-linear-gradient(204.22deg, #EC25A3 16.92%, #8D35F8 63.4%);
  background: linear-gradient(245.78deg, #EC25A3 16.92%, #8D35F8 63.4%);
  border-radius: 5px;
  z-index: -1;
}

.details__content .details__merits {
  width: 510px;
  text-align: right;
  margin: 55px 0 0 210px;
  position: absolute;
}

.details__content .details__merits-title {
  font-size: 25px;
  line-height: 130%;
}

.details__content .details__merits-occupation {
  font-size: 16px;
  line-height: 130%;
  color: var(--graybe-color);
  margin-bottom: 14px;
}

.details__content .details__merits-about {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.details__content .details__merits-about span {
  font-weight: 600;
  color: var(--pink-color);
}

.video {
  width: 703px;
  height: 994px;
  background-image: url("../img/man.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  padding: 0;
}

.video .video__play {
  width: 150px;
  margin-top: 420px;
}

.video .video__play .video__play-start {
  width: 130px;
  padding-left: 5px;
  cursor: pointer;
}

.video .video__play .video__play-text .video__play-link {
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: white;
}

@media (max-width: 1300px) {
  .header {
    width: 97%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 50px auto 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header .header__center {
    color: var(--grayac-color);
    font-size: 18px;
    line-height: 23px;
  }

  .header .header__number {
    font-weight: 600;
    font-size: 23px;
    line-height: 30px;
  }

  .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 93%;
    margin: 0 auto;
  }

  .details__content {
    width: 500px;
    margin: 100px 0 65px 30px;
  }

  .details__content .details__content-start {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
  }

  .details__content .details__title {
    max-width: 500px;
    height: 73px;
  }

  .details__content .details__title .details__title-main {
    font-style: normal;
    font-weight: bold;
    font-size: 49px;
    line-height: 73px;
    color: var(--pink-color);
    z-index: 30;
  }

  .details__content .details__title .details__title-under {
    display: inline-block;
    font-size: 49px;
    line-height: 73px;
    opacity: 0.4;
    top: -67px;
    left: -6px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    position: relative;
    z-index: -10;
  }

  .details__content .details__content-text {
    width: auto;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 30px;
  }

  .details__content .details__link-main {
    font-weight: 600;
    font-size: 25px;
    line-height: 130%;
    padding: 27px 80px 31px 38px;
    display: inline-block;
    background: -o-linear-gradient(204.22deg, #EC25A3 16.92%, #8D35F8 63.4%);
    background: linear-gradient(245.78deg, #EC25A3 16.92%, #8D35F8 63.4%);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin-bottom: 1px;
  }

  .details__content .details__link-main::after {
    content: '';
    width: 25px;
    height: 22px;
    background-image: url("../img/arrow.png");
    position: absolute;
    z-index: 5;
    left: 295px;
    top: 35px;
  }

  .details__content .details__link-main:hover {
    background: -o-linear-gradient(204.22deg, #d3128c 16.92%, #7409f6 63.4%);
    background: linear-gradient(245.78deg, #d3128c 16.92%, #7409f6 63.4%);
  }

  .details__content .details__link-under {
    position: relative;
    width: 343px;
    height: 90px;
    margin: -82px 0 0 -8px;
    border-radius: 3px;
    background: #000;
    text-align: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .details__content .details__link-under::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: -o-linear-gradient(204.22deg, #EC25A3 16.92%, #8D35F8 63.4%);
    background: linear-gradient(245.78deg, #EC25A3 16.92%, #8D35F8 63.4%);
    border-radius: 5px;
    z-index: -1;
  }

  .details__content .details__merits {
    max-width: 510px;
    text-align: right;
    margin: 55px 0 0 210px;
    position: absolute;
  }

  .details__content .details__merits-title {
    font-size: 20px;
    line-height: 110%;
  }

  .details__content .details__merits-occupation {
    font-size: 16px;
    line-height: 130%;
    color: var(--graybe-color);
    margin-bottom: 10px;
  }

  .details__content .details__merits-about {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
  }

  .details__content .details__merits-about span {
    font-weight: 600;
    color: var(--pink-color);
  }

  .video {
    width: 673px;
    background-image: url("../img/man.png");
    background-repeat: no-repeat;
  }

  .video .video__play {
    width: 150px;
    position: absolute;
    top: 421px;
    left: 1101px;
  }

  .video .video__play .video__play-start {
    width: 130px;
    padding-left: 5px;
    cursor: pointer;
  }

  .video .video__play .video__play-text .video__play-link {
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: white;
  }
}

.webp .details__content .details__link-main::after{ background-image: url(../img/arrow.webp); }

.webp .video{ background-image: url(../img/man.webp); }

@media (max-width: 1300px){
  .webp .details__content .details__link-main::after{ background-image: url(../img/arrow.webp); }
}

@media (max-width: 1300px){
  .webp .video{ background-image: url(../img/man.webp); }
}